#putMetadata('dashboardResourcePath', $resourcesPath)
#putMetadata('dashboardProjectile', $paramproject)
#requireResource("com.networkedassets.autodoc.confluence-front:dashboard-resources")
$dashboardSectionHtml