.doc_classDiagram .loadingSpinner {
    width: 100%;
    height: 200px;
}

#doc_classDiagram_paper {
    width: 100%;
    position: relative;
    cursor: move;
}

.doc_classDiagram .controls {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
}

.doc_classDiagram .controls span {
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.3em;
    margin: 0.5em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
}

.doc_classDiagram .link-tools .tool-remove,
.doc_classDiagram .link-tools .tool-options,
.doc_classDiagram .link .marker-arrowheads,
.doc_classDiagram .link .connection-wrap { display: none; }

.doc_classDiagram svg {
    width: 100%;
    height: 100%;
}


.node rect,
.node polygon {
    color: #1b3062;
    stroke: #f18f27;
    stroke-width: 1px;
}

.node rect:not(.head) {
    fill: #fff8b7;
}

.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.doc_classDiagram svg {
    min-height: 800px;
}

.doc_classDiagram rect.head {
    fill: #f18f27;
    stroke-width: 0;
}

.doc_classDiagram text.head {
    font-weight: bold;
}

.doc_classDiagram .abstract {
    font-style: italic;
}

.doc_classDiagram .static {
    text-decoration: underline;
}

.doc_classDiagram g.edgePath path.path {
    stroke: #999;
    stroke-width: 3px;
}

.doc_classDiagram g.edgePath:hover path.path, .doc_classDiagram g.edgePath:hover marker polygon {
    stroke: #06c;
    stroke-width: 3px;
}

.doc_classDiagram svg marker polygon {
    fill: #fff;
    stroke: #999;
    stroke-width: 2;
    stroke-dasharray: 1,0;
}

.doc_classDiagram svg .edgePath.aggregation marker polygon {
    fill: #fff;
}

.doc_classDiagram svg .edgePath.composition marker polygon {
    fill: #999;
}

.doc_classDiagram svg .edgePath.realization path.path, .doc_classDiagram svg .edgePath.dependency path.path {
    stroke-dasharray: 10, 5;
}