.doc_tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.doc_tree ul ul li {
    padding-left: 1.5em;
}

.doc_tree a > span {
    vertical-align: middle;
}

#doc_stateSelector {
    float: right;
}

#doc_top {
    width: 100%;
    clear: both;
    height: 30px;
}