<html>
<head>
    <meta charset="utf-8">
    <script src="js/lib/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <!--  AUI Core -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/js/aui.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/css/aui.css" media="all">

    <!-- AUI Experimental components -->
    <script src="//cdn.rawgit.com/jrburke/almond/0.3.0/almond.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/css/aui-experimental.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/js/aui-experimental.js"></script>

    <!-- AUI Datepicker and Soy templates -->
    <script src="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/js/aui-datepicker.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/0.0.5-7-29-snapshot-aui-3550-responsive-header-fixes/js/aui-soy.js"></script>



    <script src="js/app.js"></script>
    <script src="js/ctrl/branchSettings.js"></script>
    <script src="js/ctrl/menu.js"></script>
    <script src="js/ctrl/components.js"></script>
    <script src="js/ctrl/schedules.js"></script>
    <script src="js/ctrl/sources.js"></script>
    <script src="js/services/settingsData.js"></script>
    <script src="js/services/urlProvider.js"></script>
    <script src="js/dirs/docAuiDatePicker.js"></script>
    <script src="js/dirs/auiSelect2.js"></script>
    <script src="js/dirs/docAuiButtonGroup.js"></script>


    <link rel="stylesheet" href="css/doc_config.css" media="all">
    <style>
        body {
            background: #fff;
        }
    </style>
</head>
<body>
<!--CUT-START-->
<section ng-app="DoC_Config">
    <div id="doc_config-loading" ng-show="$root.loading"></div>
    <div ng-hide="$root.loading" class="aui-tabs horizontal-tabs">
        <ul class="tabs-menu">
            <li class="menu-item active-tab">
                <a href="#doc_config-sources">Sources</a>
            </li>
            <li class="menu-item">
                <a href="#doc_config-branch">Branches</a>
            </li>
        </ul>
        <div class="tabs-pane active-pane" id="doc_config-sources" ng-controller="sourcesCtrl as sources">
            <form ng-repeat="source in sources.list" class="aui source">
                <fieldset>
                    <div ng-show="source.deletionState==null">
                        <div class="field-group">
                            <label>Source type</label>
                            <select aui-select2 doc-options="sources.availableKinds" doc-disable-search="true" ng-model="source.sourceType" placeholder="Choose Source Type"></select>
                        </div>
                        <div class="field-group">
                            <label for="whatever">Source name</label>
                            <input id="whatever" type="text" class="text" placeholder="Source name" ng-model="source.name">
                        </div>
                        <div class="field-group">
                            <label>URL</label>
                            <input type="text" class="text" placeholder="URL" ng-model="source.url">
                        </div>
                        <div class="field-group">
                            <label>Username</label>
                            <input type="text" class="text" placeholder="Username" ng-model="source.username">
                        </div>
                        <div class="field-group">
                            <label>Password</label>
                            <input type="password" class="password" placeholder="Password" ng-model="source.password">
                        </div>


                    </div>
                    <p ng-show="source.deletionState=='executing'">Deleting...</p>
                    <div ng-show="source.deletionState=='confirming'" class="aui-message aui-message-error">
                        <p ng-show="source.deletionState=='confirming'"><strong>Are you sure?</strong></p>
                    </div>
                    <div ng-show="source.deletionState=='confirming'" class="buttons-container">

                        <button ng-click="sources.deleteExecute($index)" class="aui-button aui-button-primary">Confirm</button>
                        <button ng-click="sources.cancelDeletion($index)" class="aui-button">Cancel</button>
                    </div>
                    <div ng-show="source.deletionState==null" class="buttons-container">
                        <button ng-click="sources.save($index)" ng-disabled="source.verified" class="aui-button aui-button-primary">{{source.verified?'Saved':'Save'}}</button>
                        <button ng-click="sources.delete($index)" class="aui-button">Remove</button>
                    </div>
                </fieldset>

            </form>
            <form class="aui">
                <div class="buttons-container">
                    <button ng-click="sources.add()" class="aui-button aui-button-primary">Add {{sources.list.length>0?'another ':''}}source</button>
                </div>
            </form>

            <pre>{{sources.list|json}}</pre>
        </div>
        <div class="tabs-pane" id="doc_config-branch">
            <div class="table">
                <div class="table-row">

                    <div ng-controller="menuCtrl as menu" id="doc_config-branch-menu">
                        <form class="aui">
                            <div>
                                <label>Project</label>
                                <select
                                        aui-select2
                                        doc-allow-empty="true"
                                        placeholder="Choose project"
                                        doc-options="menu.tree.sources"
                                        ng-model="menu.chosen.sourceProject"
                                >
                                </select>
                            </div>
                            <div ng-if="menu.chosen.project !== null">
                                <label>Repository</label>
                                <select
                                        placeholder="Choose repository"
                                        doc-allow-empty="true"
                                        doc-options="menu.tree.sources[menu.chosen.source].projects[menu.chosen.project].repos"
                                        ng-model="menu.chosen.repo"
                                        aui-select2
                                >
                                </select>
                            </div>

                            <div ng-if="menu.chosen.repo !== null" >
                                <label>Branch</label>
                                <select placeholder="Choose branch" doc-allow-empty="true" doc-options="menu.tree.sources[menu.chosen.source].projects[menu.chosen.project].repos[menu.chosen.repo].branches" ng-model="menu.chosen.branch" aui-select2 doc-id="doc_config-branch-menu-branch" doc-placeholder="Choose Branch" doc-label="Branch">
                                </select>
                            </div>
                        </form>
                    </div>
                    <div ng-controller="branchSettingsCtrl as branchSettings" id="doc_config-branch-container">
                        <div ng-hide="branchSettings.settings.path != null" class="aui-message aui-message-info">
                            <p class="title">
                                <strong>Choose source, project, repository and branch.</strong>
                            </p>
                        </div>

                        <div ng-show="branchSettings.settings.path != null">
                            <h3>Options</h3>
                            <div>
                                <div>
                                    <h4>General</h4>
                                    <form class="aui">
                                        <fieldset class="group">
                                            <legend><span>Update on</span></legend>
                                            <doc-aui-button-group
                                                    doc-type="radio"
                                                    ng-model="branchSettings.settings.listensTo"
                                                    doc-options="branchSettings.listenToOptions"
                                            ></doc-aui-button-group>
                                            <button
                                                    class="aui-button aui-button-primary"
                                                    ng-show="branchSettings.listensTo != 'none'"
                                                    ng-click="branchSettings.settings.updateNow()"
                                                    ng-disabled="branchSettings.settings.updateNowState != 'ready'"
                                            >{{ branchSettings.settings.updateNowState == "initiated"?'Update initiated':(branchSettings.settings.updateNowState == "initiating"?'Initiating update...':'Update now')}}</button>
                                        </fieldset>
                                    </form>
                                    <div
                                            ng-controller="componentsCtrl as components"
                                            id="doc_config-branch-components"
                                            ng-if="0"
                                            ng-show="branchSettings.settings.listensTo !== 'none'"
                                    >
                                        <h4>Components</h4>
                                        <form class="aui">
                                            <div ng-repeat="component in components.available" class="field-group">
                                                <label for="doc_config-branch_components-toggle-{{component.name}}">{{component.displayName}}</label>
                                                <div class="checkbox"><input id="doc_config-branch_components-toggle-{{component.name}}" type="checkbox" class="checkbox" ng-model="components.settings.components[component.name]"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div ng-controller="schedulesCtrl as schedules">
                                    <div ng-show="schedules.settings.listensTo=='schedule'" >
                                        <h4>Schedule events</h4>
                                        <div id="doc_config-branch-schedules-events">
                                            <div ng-repeat="event in schedules.settings.scheduledEvents" ng-class-even="'even'" class="doc_config-branch-event">
                                                <div>
                                                    <div>
                                                        <form class="aui">
                                                            <fieldset class="group">
                                                                <legend><span>Event type</span></legend>
                                                                <doc-aui-button-group
                                                                        doc-type="radio"
                                                                        ng-model="event.periodic"
                                                                        doc-options="[{value:false,label:'One time'},{value:true,label:'Periodic'}]"
                                                                ></doc-aui-button-group>
                                                                <!--<div class="radio">
                                                                    <input class="radio" type="radio" id="doc_config-branch-schedules-periodic-false{{$index}}"
                                                                           name="doc_config-branch-schedules-periodic{{$parent.$index}}" ng-model="event.periodic" ng-value="false">
                                                                    <label for="doc_config-branch-schedules-periodic-false{{$index}}">One time</label><br>
                                                                    <input class="radio" type="radio" id="doc_config-branch-schedules-periodic-true{{$index}}"
                                                                           name="doc_config-branch-schedules-periodic{{$parent.$index}}" ng-model="event.periodic" ng-value="true">
                                                                    <label for="doc_config-branch-schedules-periodic-true{{$index}}">Periodic</label>
                                                                </div>-->
                                                            </fieldset>
                                                            <div ng-show="event.periodic">
                                                                <fieldset class="group">
                                                                    <legend><span>Every</span></legend>
                                                                    <input type="number" min="1" max="10" class="text short-field" ng-model="event.number">
                                                                    <doc-aui-button-group ng-hide="event.number>1" doc-type="radio" ng-model="event.type" doc-options="schedules.types.singular"></doc-aui-button-group>
                                                                    <doc-aui-button-group style="margin-left:0" ng-show="event.number>1" doc-type="radio" ng-model="event.type" doc-options="schedules.types.plural"></doc-aui-button-group>
                                                                    <!--<div class="radio">
                                                                        <input class="radio"
                                                                               ng-repeat-start="type in schedules.types"
                                                                               type="radio"
                                                                               name="doc_config-branch-schedules-type{{$parent.$index}}"
                                                                               id="doc_config-branch-schedules-type{{$parent.$index}}_{{$index}}"
                                                                               ng-value="type.value"
                                                                               ng-model="event.type"
                                                                        ><label for="doc_config-branch-schedules-type{{$parent.$index}}_{{$index}}">{{type.name}}{{(event.number>1)?'s':''}}</label><br ng-repeat-end>
                                                                    </div>-->
                                                                </fieldset>
                                                                <fieldset ng-show="event.type=='week'" class="group">
                                                                    <legend><span>Days of week</span></legend>
                                                                    <doc-aui-button-group
                                                                            doc-type="checkbox"
                                                                            ng-model="event.weekdays"
                                                                            doc-options="schedules.weekdayOptions"
                                                                    ></doc-aui-button-group>
                                                                </fieldset>
                                                            </div>

                                                            <div class="field-group" ng-hide="event.periodic">
                                                                <label>Date</label>
                                                                <input type="date" doc-aui-date-picker class="text" ng-model="event.oneTimeDate">
                                                            </div>

                                                            <div class="field-group">
                                                                <label>Time</label>
                                                                <input type="text" class="text short-field" ng-model="event.time" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" placeholder="17:00">
                                                            </div>
                                                            <div class="buttons-container">
                                                                <button ng-click="schedules.removeEvent($index)" class="aui-button aui-button-link">Remove event</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="aui">
                                                <div class="buttons-container">
                                                    <button ng-click="schedules.addEvent()" class="aui-button">Add event</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<aui-select2 doc-options="content.sources" placeholder="Placeholder"></aui-select2>-->

                        <pre ng-show="0">{{branchSettings.settings | json}}</pre>

                    </div>
                </div>
            </div>

        </div>

    </div>



</section>
<!--CUT-END-->
</body>
</html>