#set ( $d = "$")
<html>
    <head>
        <title>Configure Autodoc</title>
        <meta name="decorator" content="main"/>
        #requireResource("confluence.web.resources:ajs")
		#requireResource("com.atlassian.auiplugin:aui-select")
		#requireResource("com.atlassian.auiplugin:dialog2")
		##requireResource("org.networkedassets.naatlas.autodoc.confluence.autodoc_confluence:autodoc_confluence-resources")
		##requireResource("org.networkedassets.naatlas.autodoc.confluence.autodoc_confluence:soy-templates")
		$webResourceManager.requireResourcesForContext("autodoc_confluence")
		##requireResource("com.networkedassets.plugins.add-pagetree:add-pagetree-resources")
		##requireResource("com.networkedassets.plugins.add-pagetree:soy-templates")
		$webResourceManager.requireResourcesForContext("add-pagetree")
		<script type="text/javascript">
	  		projects = $action.toJson($action.allProjects);
	  		pages = $action.toJson($action.pages);
	  		spaceHome = "${action.spaceHome}";
	  		spaceKey = "${action.getSpaceKey()}";
       	</script>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration") ## Name of the tab to highlight: space-operations is also valid.

        #applyDecorator ("root")
            #decoratorParam ("context" "spaceadminpanel") ## The .vmd to use - Displays all the Space Admin sections.
            #decoratorParam ("selectedSpaceToolsWebItem" "space-admin-quick-link-manager") ## Key of the web-item to highlight in 5.0 themes (Space Tools)
            #decoratorParam ("helper" $action.helper)
            
            <body>
                <div class="pagecontent">
           			<h2>Select projects to watch</h2>
				    <p>
				    	<table class="aui expandable fixed" id="selected-projects">
				    		<thead>
				    			<tr>
				    				<th id="name">Project Name</th>
				    				<th id="action">Action</th>
			    				</tr>
				    		</thead>
				    		<tbody>
				    			#foreach( $selectedProjectKey in $action.selectedProjects )
				    				$action.soyTemplateRenderer.render(
				    					'org.networkedassets.naatlas.autodoc.confluence.autodoc_confluence:soy-templates',
				    					'Confluence.Templates.Autodoc.projectRow', {
				    						'project': $action.allProjects.get($selectedProjectKey),
				    						'pages': $action.pages
				    					})
				    			#end
				    			<tr id="last-row">
			    					<td headers="name">
										<select name="project" id="proj-select">
									        #foreach( $projectKey in $action.allProjects.keySet() )
									            <!-- <aui-option>$project</aui-option> -->
									            <option value="${projectKey}">$action.allProjects.get( $projectKey ).name</option>
									        #end
								        </select>
									</td>
			    					<td class="action" headers="action">
			    						<ul class="menu">
			    							<li>
			    								<button id="addBtn" class="aui-button aui-button-primary" onClick="addProj(); return false;">Add</button>
		    								</li>
	    								</ul>
		    						</td>
			    				</tr>
				    		</tbody>
				    	</table>						        						        
				    </p>
				    <button class="aui-button aui-button-primary" onClick="saveProjects(); return false;">Save</button>
                </div>
            </body>
        #end
    #end
</html>