<html>
    <head>
        <title>Configure Autodoc</title>
        <meta name="decorator" content="main"/>
		#requireResource("org.networkedassets.naatlas.autodoc.confluence.autodoc_confluence:autodoc_confluence-resources")
		#requireResource("confluence.web.resources:ajs")
		#requireResource("com.atlassian.auiplugin:aui-select")
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration") ## Name of the tab to highlight: space-operations is also valid.

        #applyDecorator ("root")
            #decoratorParam ("context" "spaceadminpanel") ## The .vmd to use - Displays all the Space Admin sections.
            #decoratorParam ("selectedSpaceToolsWebItem" "space-admin-quick-link-manager") ## Key of the web-item to highlight in 5.0 themes (Space Tools)
            #decoratorParam ("helper" $action.helper)

            <body>
                <div class="pagecontent">
           			<p><b>Credentials required!</b></p>
				    <p>
						<a href="${credentialsUrl}">Click here to authorize!</a>				    							        						        
				    </p>
                </div>
            </body>
        #end
    #end
</html>